.header_bg {
	background: url(../images/bg_1.jpg) no-repeat top;
}
#container_top{
	background: url(../images/fisrtbg.jpg) no-repeat center;
	background-attachment: fixed;
	background-position: 50% -15px;
	height: 680px;
}
.header p{
	width: 230px;
	height: 45px;
	top: 475px;
	left: 120px;
	background: #16bbfa;
	font: 28px "微软雅黑";
	border-radius: 20px;
}
.header p a:hover{
	font-weight: 600;
}
.img_pic1{
	bottom: 0;
	left: -30px;
}
.communication,.files,.interest{
	width: 960px;
	height: 584px;
	margin: 0 auto;
}
.communication ul,.interest ul{
    right: -27px;
    top: 80px;
    width:51%;
}
.communication ul li,.files ul li,.interest ul li{
	display: block;
}
.communication ul li:first-child,.files ul li:first-child,.interest ul li:first-child{
	font-size: 46px;
}
.communication ul li:last-child,.files ul li:last-child,.interest ul li:last-child{
	padding:40px 0;
}
.communication p,.files p,.interest p{
	padding: 20px 0;
}
.communication span,.files span,.interest span{
	display: block;
	padding-top: 30px;
	color: #16BBFA;
	font-size: 22px;
}
.communication span:hover,.files span:hover,.interest span:hover{
	opacity: 0.4;
}
#container_middle{
	background: url(../images/avd.jpg) no-repeat center;
	background-attachment: fixed;
	height: 680px;
}
.files ul{
	left: -20px;
    top: 80px;
    width: 48%;
}
.img_pic2{
	right:-90px;
	top:130px;
}
#container_bottom{
	background: url(../images/bg3_1600.jpg) no-repeat center;
	background-attachment: fixed;
	height: 660px;
}
.img_pic3{
	bottom: 0;
}
.qblog_pic1{
	z-index: 9;
	top: 50%;
	left: -10%;
}
.qblog_pic2{
	z-index: 8;
	top: 50%;
	left: 10%;
}
.qblog_pic3{
	z-index: 7;
	top: 50%;
	left: 30%;
}
.qblog_pic1 img:hover,.qblog_pic2 img:hover,.qblog_pic3 img:hover{
	transform: scale(0.98);
	opacity: 0.8;
}
