body,ul,ol,li,p,hr,h1,h2,h3,h4,h5,h6,form,table,td,img,div{margin:0;padding:0;border:0;} 
body{height:100%;background:#fff;color:rgb(154,154,154);font:100% Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", STXihei, STHeiti, Heiti, SimSun, sans-serif;;} 
ul,ol{list-style-type:none;} 
ul li{display: inline-block;}
input,img{vertical-align:middle;} 
a{text-decoration: none;color: inherit;}
em{font-style: normal;}
.color_w{color: white;}
.color_b{color: black;}
.t2{text-indent:2em;}
.tl{text-align: left;}
.tc{text-align: center;}
.tr{text-align: right;}
.vm{vertical-align:middle;}
.pa{position:absolute;}
.pr{position: relative;}
.fl{float:left;}
.fr{float:right;}
.clearFloat{zoom: 1;}
.clearFloat:after{
	display: block;
	content: "1";
	visibility: hidden;
	overflow: hidden;
	clear: both;
	height: 0;
}
.w100{width: 100%;}
.w1000{width: 1000px;}
.ws_np{white-space: nowrap;}
[target=_blank]:active{color: #5BE10B;}
.dis_b{display: block;}
.dis_i{display: inline;}
.cur_p{cursor: pointer;}
.mar_auto{margin: 0 auto;}
